# Application-specific
user_prompt.md
error_dump_*

# Basics
out
dist
node_modules
.vscode-test/
*.vsix
*.secret*
tmp.*

# Yarn
yarn-error.log
yarn-debug.log*
.yarn-integrity
.pnp.*
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
